{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">      
        <title>添加文章</title>
    </head>
    <body>
        <form action="{% url 'blog:add_action' article.id %}" method="POST">{% csrf_token %}
            <label>文章标题
                    <input type="text" name="title">
            </label>
            <br/>
            <label>文章内容
                    <input type="text" name="content">
            </label>
            <br/>
            <input type="submit" value="提交">
        </form>
    </body>
</html>