{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">      
        <title>首页</title>
    </head>
    <body>
        <h1 style="background-color:antiquewhite;color:black;"><a href="{% url 'blog:add_page' 0 %}">新文章</a></h1>
        <h2>
            {% for article in articles %}
                <a href="{% url 'blog:article_page' article.id %}">{{ article.title }}</a>
                <br/>
            {% endfor %}
        </h2>
    </body>
</html>